/* src/global.css */

@font-face {
    font-family: 'Anaktoria';
    src: url('./fonts/Anaktoria.otf') format('opentype');
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: 'Anaktoria', sans-serif;
    background-image: url('./assets/narc.jpg');
    background-size: cover;
    font-size: 50px;
    font-weight: 100;
    background-color: rgba(0, 0, 0, .8);
    background-blend-mode: darken;
    color: rgb(255, 255, 255);
    overflow-x: hidden;
}

.title {
    font-size: 40px;
    font-weight: 100;
}
  
  .fullscreen-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
  }
  
  .menu {
    display: flex;
    justify-content: center;
    gap: 20px;
    position: absolute;
    bottom: 20px;
    font-size: 20px;
  }
  
  .menu a {
    text-decoration: none;
    color: white;
    font-size: 1em;
    border-bottom: 1px solid white;
    padding-bottom: 5px;
  }
  
  /* Responsive Styles */
  @media (max-width: 768px) {
    .book img {
      width: 120px;
      height: 160px;
    }
  }
  
  @media (max-width: 480px) {
    .book img {
      width: 100px;
      height: 140px;
    }
  }
  
  